<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12">
      <h2 class="text-center mb-5">DM一覧</h2>
      <% @rooms.each do |room| %>
        <%= link_to user_room_path(room) do %>
          <table class="table">
            <tr>
              <td style="width: 100px;">
                <%= image_tag room.company.get_company_image, size: "75x75", class: "rounded-circle" %>
              </td>
              <td>
                <font size="5" class="text-white"><%= room.company.name %>さん</font><br>
                <!-- そのroomの最後のメッセージを表示 -->
                <font size="4" class="ml-4 text-white"><%= Message.find_by(id: room.messages.last)&.body.truncate(18) %></font>
              </td>
              <td>
                <!-- 最後のメッセージがどのくらい前に送られたか表示する -->
                <% if room.messages.exists? %>
                  <p class="text-white text-right pt-4 mb-0"><%= "#{time_ago_in_words(room.messages.last.updated_at)}前" %></p>
                <% end %>
              </td>
            </tr>
          </table>
        <% end %>
      <% end %>
    </div>
  </div>
</div>