<div class="container">
  <div class="row mt-5">
    <div class="col-6 offset-3">
      <h2 class="text-white mb-5"><%= @room.company.name %>さんとのDM</h2>
      <%= form_with model: @message, url: user_room_messages_path(@room), method: :post, data: {remote: true} do |f| %>
        <div class="input-group">
          <%= f.text_area :body, class: 'form-control' %>
          <div class="input-group-append">
            <%= f.submit '送信', class: 'btn btn-info' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3 mb-3 mt-5">
      <div id="user_messages_<% @message.id %>">
        <%= render 'user/messages/message', message: @message %>
      </div>
    </div>
    </div>
  </div>