<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 class="title">ユーザーログイン</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-4 border border-dark rounded bg-light mb-5 pb-3">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form" %>
        </div>

        <div class="field">
          <%= f.label "パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password",class: "form" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="text-center mt-4">
          <%= f.submit "ログイン", class: "btn btn--yellow btn--cubic btn--shadow" %>
        </div>
      <% end %>

      <%= render "user/shared/links" %>

    </div>
  </div>
</div>
