<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <%= form_with model: @user, url:user_path(current_user) do |f| %>
        <div class="field">
          <%= f.label "プロフィール画像" %>
          <%= f.file_field :user_image %>
        </div>
        <div class="field">
          <%= f.label "名前" %><br />
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label "自己紹介" %><br />
          <%= f.text_area :detail %>
        </div>

        <div class="field">
          <%= f.label "住所" %><br />
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: "--選択してください--" %>
          <%= f.text_field :city %>
        </div>

        <div class="actions">
          <%= f.submit "保存" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
