<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 border border-company bg-light px-0 mb-5">
      <%= image_tag @user.get_user_image, size:"200x150", style: "width: 100%; height: auto;" %>
      <table class="table ">
        <tbody>
          <tr>
            <th>名前</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>自己紹介</th>
            <th><%= @user.detail %></th>
          </tr>
          <tr>
            <th>住所</th>
            <th><%= @user.prefecture.name %><%= @user.city %></th>
          </tr>
        </tbody>
      </table>
      <% if @user == current_user && user_signed_in? %>
        <% if @user.name != "guestuser" %>
          <div class="text-right pb-3 pr-3">
            <%= link_to edit_user_user_path, class: "btn btn-warning" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to user_unsubscribe_path, class: "btn btn-danger" do %>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
