<div class="container-fulid top">
  <div class="row text-center text-row">

    <h3 class="col-6 top-text">
      企業様はこちらから
    </h3>
    <h3 class="col-6 top-text">
      ユーザー様はこちらから
    </h3>
  </div>

  <div class="row toprow">

    <div class="col-2 top-link">
      <%= link_to "新規登録", new_company_registration_path, class: "btn btn--orange btn--cubic btn--shadow top-btn" %>
    </div>

    <div class="col-2">
      <%= link_to "ログイン", new_company_session_path, class: "btn btn--yellow btn--cubic btn--shadow top-btn" %>
    </div>

    <div class="col-2">
      <%= link_to 'ゲストログイン', company_guest_sign_in_path, class: "btn btn--gray btn--cubic btn--shadow top-btn", method: :post %>
    </div>

    <div class="col-2">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn--orange btn--cubic btn--shadow top-btn" %>
    </div>

    <div class="col-2">
      <%= link_to "ログイン", new_user_session_path, class: "btn btn--yellow btn--cubic btn--shadow top-btn" %>
    </div>

    <div class="col-2">
      <%= link_to 'ゲストログイン', user_guest_sign_in_path, class: "btn btn--gray btn--cubic btn--shadow top-btn", method: :post %>
    </div>

  </div>
</div>
