<div class="container">
  <div class="row">
    <div class="col-6 offset-3 bg-light border bg-light rounded px-0 mb-5">
      <%= link_to company_company_path(@post.company.id) do %>
        <div class="p-2">
          <%= image_tag @post.company.get_company_image, size:"50x50", class: "rounded-circle" %>
          <%= @post.company.name %>
        </div>
      <% end %>

      <%= image_tag @post.post_image, style: "width: 100%; height: auto;" %><br/>

      <p class="pt-3 px-2"><%= @post.detail %></p>

      <p class="pt-3 px-2"><%= @post.company.prefecture.name %> <%= @post.company.city %></p>

      <div class="col-12 d-flex px-0 pb-3 pt-3">
        <div class="col-6">
          <% if company_signed_in? %>
            <i class="fas fa-heart heart1"></i><%= @post.likes.count %>
          <% elsif user_signed_in? %>
            <div id="post_likes_<%= @post.id %>">
              <%= render 'company/likes/like', post: @post %>
            </div>
          <% end %>
        </div>
        <div class="col-6 text-right">
          <%= @post.created_at.strftime('%Y/%m/%d %-H:%-M') %>
        </div>
      </div>

      <% if company_signed_in? %>
        <div class="text-right">
            <%= link_to edit_company_post_path, class: " btn btn--orange btn--cubic btn--shadow mr-2 mb-2" do %>
            <i class="fas fa-pencil"></i>
          <% end %>

          <%= link_to company_post_path, method: :delete, data: { confirm: '本当に消しますか？'}, class: " btn btn--red btn--cubic btn--shadow mr-2 mb-2" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
</div>
