<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">

      <%= image_tag @post.company.get_company_image, size:"50x50" %>

      <%= @post.company.name %><br/>

      <%= image_tag @post.post_image, size:"300x300" %><br/>

      <%= @post.detail %><br/>

      <%= @post.company.prefecture.name %> <%= @post.company.city %>

      <%= @post.created_at.strftime('%Y/%m/%d %-H:%-M') %><br/>

      <div id="post_likes_<%= @post.id %>">
        <%= render 'company/likes/like', post: @post %>
      </div>

    </div>
  </div>
</div>
