<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="edit-title">ユーザー情報編集フォーム</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 border bg-light px-0">
      <%= form_with model: @user, url: admin_user_path do |f| %>
        <div class="field">
          <%= f.label "画像" %>
          <%= f.file_field :user_image, class: "form" %>
        </div>
        <div class="field">
          <%= f.label "名前" %>
          <%= f.text_field :name, class: "form" %>
        </div>
        <div class="field">
          <%= f.label "自己紹介" %><br>
          <%= f.text_area :detail, class: "form" %>
        </div>
        <div class="field">
          <%= f.label "住所" %>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: "--都道府県--", class: "form" %>
          <%= f.text_field :city, placeholder: "○○市", class: "form" %>
        </div>
        <div class="field">
          <%= f.label "登録ステータス" %><br>
          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :is_deleted, "退会済み" %><br>
          <%= f.radio_button :is_deleted, :false %>
          <%= f.label :is_deleted, "登録中" %>
        </div>
        <div class="text-center">
          <%= f.button :type => "submit", class: " btn btn-success edit-btn mb-3" do %>
            <i class="fas fa-check"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

