<nav class="navbar navbar-expand-lg">
  <div class="container-fulid">
    <div class="navbar-brand">
      <%= link_to "DESIBO", root_path %>
    </div>
    <ul class="navbar-nav ml-auro">
      <% if company_signed_in? %>
        <li><%= link_to "マイページ", company_company_path(current_company.id) %></li>
        <li><%= link_to "タイムライン", company_posts_path %></li>
        <li><%= button_to "ログアウト", destroy_company_session_path, method: :delete %></li>
      <% elsif user_signed_in? %>
        <li><%= link_to "マイページ", user_user_path(current_user.id) %></li>
        <li><%= link_to "タイムライン", user_posts_path %></li>
        <li><%= link_to "気になる", user_favorites_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% elsif admin_signed_in? %>
      <% else %>
      <% end %>
    </ul>
    <%= render 'searches/search_form' %>
  </div>
</nav>