<div class="container-fulid">
  <div class="row text-center mb-5 pt-5">
    <% if company_signed_in? %>
      <div class="col-4 offset-1">
        <%= link_to "タイムライン", company_posts_path, class: "mr-5" %>/
        <%= link_to "新規投稿", new_company_post_path, class: "mr-5 ml-5" %>/
        <%= link_to "通知", company_notifications_path, class: "ml-5" %>
        <% if company_unchecked_notifications.any? %>
            <i class="fa fa-circle" style="color: red;"></i>
        <% end %>
      </div>
      <div class="col-2">
        <h1><%= link_to "DESIBO", root_path %></h1>
      </div>
      <div class="col-4 offset-1">
        <%= link_to "マイページ", company_company_path(current_company.id), class: "mr-5" %>/
        <%= link_to "DM", company_rooms_path, class: "mr-5 ml-5" %>/
        <%= link_to "ログアウト", destroy_company_session_path, method: :delete, class: "ml-5" %>
      </div>
    <% elsif user_signed_in? %>
      <div class="col-4 offset-1">
        <%= link_to "タイムライン", company_posts_path, class: "mr-5" %>/
        <%= link_to "気になる", user_favorites_path, class: "ml-5" %>
      </div>
      <div class="col-2">
        <h1><%= link_to "DESIBO", root_path %></h1>
      </div>
      <div class="col-4 offset-1">
        <%= link_to "マイページ", user_user_path(current_user.id), class: "mr-5" %>/
        <%= link_to "DM", user_rooms_path, class: "mr-5 ml-5" %>/
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "ml-5" %>
      </div>
    <% else %>
      <div class="col-4 offset-1">
        <div><%= link_to "タイムライン", company_posts_path %></div>
      </div>

      <div class="col-2">
        <h1><%= link_to "DESIBO", root_path %></h1>
      </div>

      <div class="col-4 offset-1">
        <div><%= link_to "DESIBOとは？", about_path %></div>
      </div>
    <% end %>
  </div>
  <div class="row text-center mb-5">
    <div class="col-3 offset-3">
      <%= form_with url: prefecture_search_path, method: :get do |f| %>
        <div class="input-group">
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: "都道府県で探す", class: "form-control" %>
          <div class="input-group-append">
            <%= f.button :type => "submit" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-3 offseet-3 text-center">
      <%= form_with url: occupation_search_path, method: :get do |f| %>
        <div class="input-group">
          <%= f.collection_select :occupation_genre_id, OccupationGenre.all, :id, :name, include_blank: "職種で探す" %>
          <div class="input-group-append">
            <%= f.button :type => "submit" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
